html{
    background-color:black;
    color:white;
}
h1{
    text-align:center;
}
a{
    color:aqua;
}
a:hover{
    color:lime;
}
.legend{
    position:fixed;
    margin-left:70%;
    margin-right:10%;
    background-color:DarkSlateGray;
    padding:10px;
}
.tocbox{
    position:relative;
    column-count:2;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    background-color:gray;
    border:1px solid;
    padding:20px;
}
.noun{
    color:orange;
}
.verb{
    color:lightgreen;
}
.foreign{
    color:yellow;
    font-weight:bold;
}
.adj{
    color:red;
}
.adv{
    color:aqua;
}
.ref{
    color:darkorchid;
}
.prep{
    color:khaki;
} 
.conj{
    color:green;
}
.inter{
    color:gray;
}
.pron{
    color:lemonchiffon;
}
.det{
    color:darksalmon;   
}
.open{
    font-style:italic;
}
.closed{
    text-decoration:underline;
}