html{
    background-image:url("marble.png");
}
body {
    font-family: "Book Antiqua";
    background-image: url("marble.png");
    background-color: #cccccc;
}
h1{
    color:black;
}
h2{
    margin-left:15px;
}

.menubar{
    background-color:white;
}
.mainbody{
   
   background-color:white;
   flex-direction:column;
   align-items:center;
   display:flex;
}
.hover{
    color:black;
}
.hover:hover{
    color:orange;
}


#pghere{
    color:black;
    
}