/* Default CSS */
html {
    background-image: url("Background-image.jpg");
    background-color: #cccccc;
}
body {
    font-family: "Book Antiqua";
}
p {
    text-indent: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
h1 {
    font-family: "Book Antiqua";
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    margin-top: 10px;

}
h2 {
    font-family: "Book Antiqua";
    text-align: center;
}

.menubar {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;

    margin: 0 -10px;
    border: 1px solid;
    margin-top: 20px;
}
.menuitem {
    text-align: center;
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}
.centerflex {
    margin-left: auto;
    margin-right: auto;
    margin: -10px 0;
    padding-bottom: 10px;
}
.mainbody {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    margin-top: 10px;

}
.coverlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hover {
    text-decoration: none;
    color: black;
}
.hover:hover {
    text-decoration: underline;
    color: orange;
}
/* ID css */
#pghere {
    font-weight: bold;
}
